<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <!-- Main Content -->
        <main class="container">
            <img class="profilepic" src="/Assets/images/profile.png" alt="profile picture" />
            <div class="about_contents">
                <div class="cont_t">
                    Name: Subeen Kang
                    <br />
                    Academic Background: Centennial College
                    <br />
                    Major: Software Engineering Technician
                </div>
                <div class="cont_b">
                    <div>INTRODUCTION</div>
                    <br />
                    Nice to meet you!
                    <br />
                    I am a student at Centennial College in Software Engineering Technician.
                    <br />
                    I am so interested in programming especially web.
                    <br />
                    These days, I am practicing coding and algorithm.
                    <br />
                    My hobby is watching sport matches especially EPL.
                    <br />
                    You can check my resume by clicking below
                    <br />
                    <a class="resume_link" target="_blank" href="/Assets/resume.pdf">RESUME</a>
                </div>
            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>