<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <!-- Main Content -->
        <main class="container main_bg">
            <div class="home_text">
                <span class="m_txt">Welcome to my Portfolio Site</span><br />
                I want to be a programmer!<br />
                I will do my best!<br />
                Please choose me as your employee!
            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>