<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <!-- Main Content -->
        <main class="container">
            <div class="project_contents">
                <div>
                    <div class="section">
                        <img src="/Assets/images/shopping1.png" alt="shopping mall">
                    </div>
                    <p>
                        This is a shopping mall website.</br>
                        You can shop online using this website.</br>
                        The clothes are seperated by categories.
                    </p>
                </div>
                <div>
                    <div class="section">
                        <img src="/Assets/images/delivery.jpg" alt="delivery app">
                    </div>
                    <p>
                        This is a delivery application. </br>
                        You can deliver food using this app easily. </br>

                    </p>
                </div>
                <div>
                    <div class="section">
                        <img src="/Assets/images/emedical.png" alt="emedical">
                    </div>
                    <p>
                        This is an e-medical application. </br>
                        You can find the doctor and have a check up using this app. </br>
                        You can also get prescription and medicine delivery service.
                    </p>
                </div>
            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>