<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <!-- Main Content -->
        <main class="container">
            <div class="services_content">
                <ul>
                    <li>
                        <img src="/Assets/images/designs.jpg" alt="Web Designs icon" />
                        <br />
                        Web Designs
                    </li>
                    <li>
                        <img src="/Assets/images/webapp.png" alt="Web application icon" />
                        <br />
                        Web Application
                    </li>
                    <li>
                        <img src="/Assets/images/reponsive_designs.jpg" alt="Reponsive Designs icon" />
                        <br />
                        Reponsive Designs
                    </li>
                </ul>
            </div>
            <div class="services_content">
                <ul>
                    <li>
                        <img src="/Assets/images/nodejs.png" alt="Node jS icon" />
                        <br />
                        Node JS
                    </li>
                    <li>
                        <img src="/Assets/images/react.png" alt="React JS icon" />
                        <br />
                        React JS
                    </li>
                    <li>
                        <img src="/Assets/images/android.jpg" alt="Android icon" />
                        <br />
                        Android
                    </li>
                </ul>
            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>